# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env

work.txt

recommender/data/
recommender/__pycache__/
recommender/**/*.py[cod]
recommender/*.egg-info/
recommender/.Python
recommender/env/
recommender/venv/
recommender/.venv/
recommender/build/
recommender/develop-eggs/
recommender/dist/
recommender/downloads/
recommender/eggs/
recommender/lib/
recommender/lib64/
recommender/parts/
recommender/sdist/
recommender/var/
recommender/.coverage
recommender/.tox/
recommender/.nox/
recommender/.pytest_cache/
recommender/.mypy_cache/
recommender/.ipynb_checkpoints/
recommender/instance/
recommender/*.db
recommender/*.sqlite3
recommender/htmlcov/
recommender/*.pkl
